.login-page {
    background-color: $pinky;
    position: relative;
    height: 100vh;
    width: 100vw;


  #login-form {
    background-color: $light-blue;
    position: absolute;
    bottom: 0;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 21rem;
  }

  #baseline {
    color: $cream;
    font-weight: 400;
    font-size: 10px;
    position: absolute;
    bottom: 22rem;

  }
}

.rememberme {
  p {
    font-weight: 400;
  }
}
