<div class="btn-underline-hover flex justify-start items-center" id="open-modal">
    <div><i class="<%= fontawesome %>"></i></div>
    <div class="btn-underline ml-1"><p><%= title %></p></div>
</div>
