<%= link_to path do   %>
  <div class="btn-underline-hover flex justify-start items-center ">
      <div><i class="<%= fontawesome %>"></i></div>
      <div class="btn-underline ml-1 font-cream"><p><%= title %></p></div>
  </div>
<% end %>
