<div class="navbar navbar-transparent flex flex-row-reverse justify-between items-start mb-4">
  <div>
    <a href="<%= profile_path %>" class="logo">
      H
    </a>
  </div>
  <div>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="menu">
      <li><a href="<%= root_path %>">Accueil</a></li>
      <li><a href="#">Rechercher un film</a></li>
      <li><a href="<%= circles_path %> ">Mes cercles</a></li>
      <li><a href="<%= profile_path %>">Mon profil</a></li>
      <li><a href="#">Editer mon profil</a></li>
      <li><a href="#">Se déconnecter</a></li>
    </ul>
  </div>
</div>

