<div class="navbar">
  <a href="" class="logo">
    H
  </a>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    <li><a href="#">Accueil</a></li>
    <li><a href="#">Rechercher un film</a></li>
    <li><a href="#">Mes cercles</a></li>
    <li><a href="#">Mon profil</a></li>
    <li><a href="#">Editer mon profil</a></li>
    <li><a href="#">Se déconnecter</a></li>
  </ul>
</div>
