<%= render 'shared/navbar' %>
<div class="personnalised-container">

  <form action="/movies" method='post' class="flex items-center search" >
    <input type="text" name="query" placeholder="Rechercher un film" class="form-field b-shadow">
    <button type= "submit" class="b-shadow"><i class="fas fa-search"></i></button>
  </form>




</div>
