<%= render 'shared/navbar' %>
<div class="personnalised-container">

  <form action="/movies" method='post' class="flex items-center search" >
    <input type="text" name="query" placeholder="Rechercher un film" class="form-field b-shadow">
    <button type= "submit" class="b-shadow"><i class="fas fa-search"></i></button>
  </form>

  <div class="flex justify-between items-start mt-8">
    <div><h1>Mes Cercles</h1></div>
    <%= render 'shared/btn-underline', path:  new_circle_path, title: "Créer un cercle", fontawesome: "fas fa-plus" %>
  </div>



</div>
