.btn-pinky {
  background-color: $pinky;
  color: $cream;
  padding: 7px 20px;
  border-radius: 20px;
  font-weight: 600px;

  &:hover{
    background-color: rgba(227, 59, 87, 0.85);
    color: $cream;
  }
}
